# Eclipse
.classpath
.project
.wtpmodules
.settings/

# Intellij
.idea/
*.iml
*.ipr
*.iws

# NetBeans
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
target/

# Dependencies
lib/

# ORB
orb.db/

# JAXB
JAXBObject.xml