<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_issues</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <property name="hibernate.show_sql">true</property>

        <!--
            validate: Valida el esquema no hace cambios.
            update: Crea o actualiza el esquema.
            create: Crea el esquema destruye datos previos.
            create-drop: Crea el esquema pero después hace drop del mismo.
        -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <mapping class="ar.com.javacuriosities.hibernate.issues.n_plus_one.model.Corporation"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.n_plus_one.model.CorporationOwner"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.n_plus_one.model.Owner"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.n_plus_one.model.Company"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.n_plus_one.model.Building"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.lazy_initialization.model.Course"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.lazy_initialization.model.Student"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.object_not_found.model.Person"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.missing_update.model.User"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.slow_queries.model.Server"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.flush_order.model.Book"/>

        <mapping class="ar.com.javacuriosities.hibernate.issues.deadlock.model.Customer"/>
        <mapping class="ar.com.javacuriosities.hibernate.issues.deadlock.model.Profile"/>
    </session-factory>
</hibernate-configuration>